{% extends 'practice/layout.html' %}

{% block body %}
    <h1>{{ exercise.name }}</h1>
    <h2>{{ exercise.type }}</h2>
    {% if exercise.video_link %}
        <iframe width="560" height="315" src="{{ exercise.video_link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    {% endif %}
    <p>{{ exercise.description }}</p>
    <a href="{% url 'record' exercise.id %}"><button>Record</button></a>
    <table class="record-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Note</th>
                <th>Length</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record.time }}</td>
                    <td>{{ record.note }}</td>
                    <td>{{ record.length }} minutes</td>
                    <td>{{ record.quality_rating }} {{ record.exercise.quality_measurement }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}