{% extends 'practice/layout.html' %}

{% block body %}
    <h1>Register</h1>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}

        <p>
            <label for="register_username">Username:</label>
            <input id="register_username" type='text' name="username" placeholder="Username">
        </p>
        
        <p>
            <label for="register_password">Password:</label>
            <input id="register_password" type="password" name="password" placeholder="Password">
        </p>

        <p>
            <label for="register_confirmation">Confirm Password:</label>
            <input id="register_confirmation" type="password" name="confirmation" placeholder="Confirm Password">
        </p>
        <input type="submit" value="Register">
    </form>
{% endblock %}