body {
    margin: 0;
    padding: 0;
}

#header {
    border-bottom: 2px solid black;
}

#body {
    max-width: 800px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#new-exercise-form > *, #record-form > * {
    display: block;
    width: 100%;
}

#new-exercise-form > label, #record-form > label {
    margin-top: 10px;
}

#new-exercise-create, #record-submit {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
}

#navbar {
    display: flex;
}

#navbar > ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    padding-inline-start: 14px;
}

.no-link {
    text-decoration: none;
    color: inherit;
}

.no-link:hover {
    text-decoration: underline;
}

.record-table {
    width: 100%;
}

.record-table tr  {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-items: start;
    border-bottom: 1px solid lightgrey;
}

.record-table td {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.record-table tr:hover td {
    white-space: normal;
    overflow: visible;
}

.record-table thead tr {
    border-bottom: solid 2px black;
}

#record-video {
    width: 100%;
    aspect-ratio: 16/9;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}