body {
    margin: 0;
    padding: 0;
}

#header {
    border-bottom: 2px solid black;
}

#body {
    max-width: 800px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#new-exercise-form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#new-exercise-form > *{
    display: block;
    width: 100%;
}

#new-exercise-form > label {
    margin-top: 10px;
}

#new-exercise-create {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: auto;
}

#navbar {
    display: flex;
}

#navbar > ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}

.no-link {
    text-decoration: none;
    color: inherit;
}

.no-link:hover {
    text-decoration: underline;
}

.record-table {
    width: 100%;
}

.record-table tr  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: start;
}

.record-table thead tr {
    border-bottom: solid 2px black;
}